.App {
  display: flex;
  background-image: url("https://images.pexels.com/photos/2695682/pexels-photo-2695682.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "roboto";
}

.content {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  text-align: center;

  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(17px);

  border: 1px solid rgba(255, 255, 255, 0.18);

  .form {
    margin-top: 20px;
    #input_text {
      padding: 0 10px;
      width: 350px;
      height: 40px;
      border: none;
      border-radius: 5px ;
      &:focus {
        outline: none;
      }
    }
    .submit {
        cursor: pointer;
        position: relative;
        top:3px;
        right: 50px;
      border: none;
      border-radius: 0 5px 5px 0;
      width: 50px;
      height: 40px;
      background-color: transparent;
     
    }
  }

  .temp_data {
    text-align: center;
    .temperature {
      font-size: 10rem;
    }

    .city {
      position: relative;
      right: 20px;

      font-size: 5rem;
    }
  }
}
